
.book {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    height: 80%;
}
.child2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.note{
    font-size: 14px;
}
.child2 button{
    width: 20vw;
    height: 5vh;
    border-radius: 15px;
    background-color: rgb(151, 151, 219);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.child2 button:hover{
    background-color: rgb(55, 55, 181);
    color: aliceblue;
}
#type {
    width: 20vw;
    height: 4vh;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
}
#date{
    width: 20vw;
    height: 4vh;
    border-radius: 14px;
    background-color: rgb(255, 252, 252);
}
#type:hover{
    background-color: rgb(185, 184, 184);
    color: rgb(0, 0, 0);
}
#date:hover{
    background-color: rgb(185, 184, 184);
    color: rgb(0, 0, 0);
}
.btm{
    margin-left: 120px;
}